.btn {
  padding: 11px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: var(--color-primary);
  cursor: pointer;
  letter-spacing: 0.25px;
  transition: 0.2s ease-in-out;
}

.btn-primary {
  background-color: #5697b7;
}

.btn-primary:hover {
  background-color: #3f6f87;
}

.btn:disabled {
  background-color: #c5c5c5;
  color: #1a1a1a;
  cursor: auto;
}
