@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-primary: #fff;
  --color-order-received: linear-gradient(
    330deg,
    #dd8d15 17.33%,
    #f9b756 77.85%
  );
  --color-label-created: linear-gradient(
    330deg,
    #d94040 17.33%,
    #ff6569 77.85%
  );
  --color-in-transit: linear-gradient(330deg, #2e87c5 17.33%, #2facdb 77.85%);
  --color-order-delivered: linear-gradient(
    330deg,
    #42b060 17.33%,
    #68cc83 77.85%
  );
  --box-shadow: 4px 4px 10px -2px rgb(0 0 0 / 42.5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #5697b7;
  color: var(--color-primary);
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}
