@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --color-primary: #fff;
  --color-order-received: #ff9900;
  --color-label-created: #ff3f3f;
  --color-in-transit: #48b9fb;
  --color-order-delivered: #54d175;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #5697b7;
  color: var(--color-primary);
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}
